body{
	font-family: 'Roboto Slab', serif;
	color: #FFFFDA;
	background: #43B084 url('C:/Users/Katherine/Desktop/DBC/kdmcclin.github.io/unit1_projects/images/purpleback2tumblr.png') repeat;
}

a {
	color: #4FB69F;
	text-decoration: none;
}