a{
	color: #000099;
	text-decoration: none;
}

a:hover {
    color: #cc0000;
}

.english{
	color:  #000099;
}

.french{
	color: #ffd500;
}

.scottish{
	color: #cc0000;
}

.flag{
	padding-left: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 80%;
	text-align: center;
}

.container{
	width: 1000px;
	margin-left: 25px;
}

.image{
	position: relative;
}

.caption{
	position: absolute;
	top: 250px;
	width: 100%;
}

#header{
	text-align: center;
	margin-left: 200px;
	width: 1000px;
	height: 100px;
}

#content{
	float: none;
	text-align: center;	
	width: 1000px;
	height: 1350px;
}

#intro{
	margin-left: 220px;
	width: 1000px;
}

#history{
	margin-left: 230px;
	width: 1000px;
}

#sidebar{
	background-color: #F5DEB3;
	color: #000099;
	float: left;
	width: 200px;
	height: 1350px;
	padding: 6px 10px 0 0;
}

#facts{
	padding-left: 10px;
	padding-top: 20px;
}

#footer{
	border-top: 8px solid #F5DEB3;
	width: 1220px;
	text-align: center;
	color: #000000;
}

#copyright{
	margin-left: 220px;
}