body{
	background-image: url('../images/stressed_linen_@2X.png');
}

a{
	color: #cc0000;
	text-decoration: none;
}

a:hover{
	color: #5f9ea0;
}

#welcome{
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
}

#container{
	margin: 0 auto;
	width: 1000px;
	background: #fff;
}

#header{
	background: #ffffff;
	height: 182px;
}

#header h1{
	margin: 0;
}

#navigation{
	float: left;
	width: 1000px;
	background: #27732C;
}

#navigation ul{
	margin: 0;
	padding: 0;
}

#navigation ul li{
	font-size: 1.1em;
	list-style-type: none;
	display: inline;
}

#navigation li a{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #ffffff;
}

#navigation li a:hover{
	background: #5f9ea0;
}

#content-container{
	float: left;
	width: 1000px;
	background: #ffffff;
	margin-bottom: 8px;
}

#content{
	float: left;
	width: 950px;
	padding: 30px 20px 0 20px;
	margin: 0 200 0 30;
	text-align: center;
}

#content h2{ 
	margin: 0; 
}

/*#aside{
	float: left;
	width: 150px;
	padding: 20px 0;
	margin: 0 0 0 0;
	display: inline;
}

#aside h3{
	margin: 0;
}*/

#footer
{
	clear: left;
	background: #27732C;
	text-align: right;
	padding: 1px;
	height: 1%;
}

/*ul li {
	list-style-type: none;
}*/

#blog{
	text-align: left;
	padding-bottom: 5px;
}

#blog h2{
	text-align: center;
}

#blog a {
	font-size: 1.1em;
}